<div *ngIf="players" class="w-screen flex items-center justify-center flex-col">
  <h2 class="text-2xl font-bold">Player Management</h2>
  <form (ngSubmit)="addPlayer()" class="mt-4 w-full max-w-xl">
    <div class="flex flex-col">
      <label
        for="name"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Name</label
      >
      <input
        [(ngModel)]="newPlayer.name"
        name="name"
        id="name"
        placeholder="Name"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div class="flex flex-col">
      <label
        for="dateOfBirth"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Date of Birth:</label
      >
      <input
        [(ngModel)]="newPlayer.dateOfBirth"
        name="dateOfBirth"
        id="dateOfBirth"
        placeholder="Date of Birth"
        required
        type="date"
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div class="flex flex-col">
      <label
        for="battingStyle"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Batting Style:</label
      >
      <input
        [(ngModel)]="newPlayer.battingStyle"
        name="battingStyle"
        id="battingStyle"
        type="text"
        placeholder="Batting Style"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div class="flex flex-col">
      <label
        for="bowlingStyle"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Bowling Style:</label
      >
      <input
        [(ngModel)]="newPlayer.bowlingStyle"
        name="bowlingStyle"
        id="bowlingStyle"
        type="text"
        placeholder="Bowling Style"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <div class="flex flex-col">
      <label
        for="nationality"
        class="text-sm font-bold text-gray-700 tracking-wide mb-2"
        >Nationality:</label
      >
      <input
        [(ngModel)]="newPlayer.nationality"
        name="nationality"
        id="nationality"
        type="text"
        placeholder="Nationality"
        required
        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Add Player
    </button>
  </form>

  <ul
    class="mt-8 w-full max-w-xl border border-gray-300 divide-y divide-gray-300 rounded-md shadow-md bg-white"
  >
    <li
      *ngFor="let player of players"
      class="flex flex-col items-start justify-between p-4 hover:bg-gray-50 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col gap-2 text-sm font-bold text-gray-700">
        <ng-container *ngIf="selectedPlayer === player">
          <label class="text-xs font-semibold text-gray-600">Name:</label>
          <input
            [(ngModel)]="player.name"
            name="name"
            id="name"
            placeholder="Name"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600">Date Of Birth:</label>
          <input
            [(ngModel)]="player.dateOfBirth"
            name="dateOfBirth"
            id="dateOfBirth"
            placeholder="Date Of Birth"
            required
            type="date"
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600"
            >Batting Style:</label
          >
          <input
            [(ngModel)]="player.battingStyle"
            name="battingStyle"
            id="battingStyle"
            placeholder="Batting Style"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600"
            >Bowling Style:</label
          >
          <input
            [(ngModel)]="player.bowlingStyle"
            name="bowlingStyle"
            id="bowlingStyle"
            placeholder="Bowling Style"
            required
            class="text-sm font-bold text-gray-900"
          />
          <label class="text-xs font-semibold text-gray-600">Nationality:</label>
          <input
            [(ngModel)]="player.nationality"
            name="nationality"
            id="nationality"
            placeholder="Nationality"
            required
            class="text-sm font-bold text-gray-900"
          />
          <div
            class="flex flex-row items-center justify-center space-x-4 md:space-x-6 mt-4"
          >
            <button
              (click)="selectedPlayer = null"
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              cancel
            </button>
            <button
              (click)="updatePlayer(player)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Update
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedPlayer !== player">
          <label class="text-xs font-semibold text-gray-600">Name:</label>
          <span class="text-sm font-bold text-gray-900">{{ player.name }}</span>
          <label class="text-xs font-semibold text-gray-600">Date Of Birth:</label>
          <span class="text-sm font-bold text-gray-900">{{
            player.dateOfBirth
          }}</span>
          <label class="text-xs font-semibold text-gray-600"
            >Batting Style:</label
          >
          <span class="text-sm font-bold text-gray-900">{{
            player.battingStyle
          }}</span>
          <label class="text-xs font-semibold text-gray-600"
            >Bowling Style:</label
          >
          <span class="text-sm font-bold text-gray-900">{{
            player.bowlingStyle
          }}</span>
          <label class="text-xs font-semibold text-gray-600">Nationality:</label>
          <span class="text-sm font-bold text-gray-900">{{
            player.nationality
          }}</span>
          <div
            class="flex flex-row items-center justify-center space-x-4 md:space-x-6 mt-4"
          >
            <button
              (click)="selectedPlayer = player"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Update
            </button>
            <button
              (click)="deletePlayer(player._id!)"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Delete
            </button>
          </div>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
